<%= form_for @changeset, sop_path(@conn, :create), [multipart: true], fn f -> %>
    
    <div class="" >
        <%= file_input f, :file, class: ""  %>
        <%= error_tag f, :file %>
    </div>
    
    <hr />

    <div class="form-group">
        <%= submit "Save SOP", class: "btn btn-primary" %>
    </div>
<% end %>

<ol class="collection">
    <%= for sop <- @sops do %>
        <li class="collection-item">            
            <a href="<%= static_path(@conn, "#{sop.file_title}") %>" >  <%= sop.file_title %></a> 
        </li>
    <% end %>
</ol>